<section class="my-6 flex flex-col gap-6">
  <%- include("todo-section.ejs", {title: "Overdue", todos: overdueTodos}) %>
  <%- include("todo-section.ejs", {title: "Due Today", todos: dueTodayTodos}) %>
  <%- include("todo-section.ejs", {title: "Due Later", todos: dueLaterTodos}) %>
</section>
