    <footer class="fixed bottom-0 w-full my-2">
        <h1 class="text-center text-gray-500">Built with Node.js</h1>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>