<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Todo App</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %>

        <section class="flex flex-col gap-2 m-4">
          <p>Welcome to the ToDo Manager</p>
          <p>New here? <a href="/signup" class="text-green-600">Sign Up</a></p>
          <p>Already have an account? <a href="/signin" class="text-green-600">Sign In</a></p>
        </section>
      </div>
    </div>
  </body>
</html>
