<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Todo App</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %>
        <section class="my-2">
          <form action="/todos" method="post" class="flex gap-2 items-center justify-evenly">
            <input
              type="text"
              name="title"
              placeholder="What's next?"
              class="p-2 rounded shadow border border-gray-300 text-gray-900 w-full leading-5"
            />

            <input
              type="date"
              name="dueDate"
              placeholder="What's next?"
              class="p-2 rounded shadow border border-gray-300 text-gray-900 w-full leading-4"
            />

            <button
              type="submit"
              class="bg-green-600 text-white rounded shadow py-1.5 px-6"
            >
              Add
            </button>
          </form>
        </section>
        <%- include("todos.ejs", {overdueTodos, dueLaterTodos,
        dueTodayTodos}) %>
      </div>
    </div>
  </body>
</html>
